<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HyperMTGMain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HyperMTGMain.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
        </HyperMTGMain.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDraft" openTimeout="00:00:10" closeTimeout="00:00:10">
                    <reliableSession inactivityTimeout="20:00:10" enabled="true" />
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:5933/HyperServer/tcp"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDraft"
                contract="DraftSR.IDraft" name="NetTcpBinding_IDraft" />
        </client>
    </system.serviceModel>
</configuration>