<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HyperMTG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HyperMTG.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>ChineseSimplified</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>Large</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>/FirstFloor.ModernUI;component/Assets/ModernUI.Light.xaml</value>
            </setting>
            <setting name="AccentColor" serializeAs="String">
                <value>#FF1BA1E2</value>
            </setting>
        </HyperMTG.Properties.Settings>
    </userSettings>
</configuration>